body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9216 {
  position:absolute;
  left:1006px;
  top:17px;
  width:140px;
  height:72px;
}
#u9217 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9218 {
  position:absolute;
  left:1006px;
  top:132px;
  width:140px;
  height:72px;
}
#u9219 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9220 {
  position:absolute;
  left:877px;
  top:251px;
  width:140px;
  height:72px;
}
#u9221 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u9222 {
  position:absolute;
  left:2025px;
  top:170px;
  width:200px;
  height:1px;
  color:#FF0000;
}
#u9223 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9224 {
  position:absolute;
  left:2235px;
  top:163px;
  width:235px;
  height:48px;
  color:#FF0000;
}
#u9225 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u9226 {
  position:absolute;
  left:1006px;
  top:168px;
  width:0px;
  height:0px;
}
#u9226_seg0 {
  position:absolute;
  left:-63px;
  top:-4px;
  width:63px;
  height:8px;
}
#u9226_seg1 {
  position:absolute;
  left:-63px;
  top:-4px;
  width:8px;
  height:87px;
}
#u9226_seg2 {
  position:absolute;
  left:-69px;
  top:70px;
  width:20px;
  height:20px;
}
#u9227 {
  position:absolute;
  left:-109px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u9228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9228 {
  position:absolute;
  left:1006px;
  top:358px;
  width:140px;
  height:72px;
}
#u9229 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9230 {
  position:absolute;
  left:1132px;
  top:251px;
  width:140px;
  height:72px;
}
#u9231 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9232 {
  position:absolute;
  left:1146px;
  top:168px;
  width:0px;
  height:0px;
}
#u9232_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u9232_seg1 {
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:87px;
}
#u9232_seg2 {
  position:absolute;
  left:46px;
  top:70px;
  width:20px;
  height:20px;
}
#u9233 {
  position:absolute;
  left:6px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u9234 {
  position:absolute;
  left:1076px;
  top:89px;
  width:0px;
  height:0px;
}
#u9234_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u9234_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u9235 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u9236 {
  position:absolute;
  left:2016px;
  top:286px;
  width:200px;
  height:1px;
  color:#FF0000;
}
#u9237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u9238 {
  position:absolute;
  left:2226px;
  top:279px;
  width:235px;
  height:80px;
  font-size:13px;
  color:#FF0000;
}
#u9239 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u9240 {
  position:absolute;
  left:947px;
  top:323px;
  width:0px;
  height:0px;
}
#u9240_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u9240_seg1 {
  position:absolute;
  left:-4px;
  top:10px;
  width:137px;
  height:8px;
}
#u9240_seg2 {
  position:absolute;
  left:125px;
  top:10px;
  width:8px;
  height:25px;
}
#u9240_seg3 {
  position:absolute;
  left:119px;
  top:22px;
  width:20px;
  height:20px;
}
#u9241 {
  position:absolute;
  left:18px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9242 {
  position:absolute;
  left:759px;
  top:358px;
  width:63px;
  height:72px;
}
#u9243 {
  position:absolute;
  left:2px;
  top:28px;
  width:59px;
  word-wrap:break-word;
}
#u9244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9244 {
  position:absolute;
  left:734px;
  top:483px;
  width:140px;
  height:72px;
}
#u9245 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9246 {
  position:absolute;
  left:734px;
  top:681px;
  width:140px;
  height:72px;
}
#u9247 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9248 {
  position:absolute;
  left:1230px;
  top:358px;
  width:140px;
  height:72px;
}
#u9249 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9250 {
  position:absolute;
  left:1202px;
  top:323px;
  width:0px;
  height:0px;
}
#u9250_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u9250_seg1 {
  position:absolute;
  left:-130px;
  top:11px;
  width:134px;
  height:8px;
}
#u9250_seg2 {
  position:absolute;
  left:-130px;
  top:11px;
  width:8px;
  height:24px;
}
#u9250_seg3 {
  position:absolute;
  left:-136px;
  top:22px;
  width:20px;
  height:20px;
}
#u9251 {
  position:absolute;
  left:-116px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9252 {
  position:absolute;
  left:1158px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9252_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u9252_seg1 {
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9253 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9254 {
  position:absolute;
  left:557px;
  top:358px;
  width:140px;
  height:72px;
}
#u9255 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9256 {
  position:absolute;
  left:759px;
  top:394px;
  width:0px;
  height:0px;
  text-align:left;
}
#u9256_seg0 {
  position:absolute;
  left:-62px;
  top:-4px;
  width:66px;
  height:8px;
}
#u9256_seg1 {
  position:absolute;
  left:-69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9257 {
  position:absolute;
  left:-81px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9258 {
  position:absolute;
  left:557px;
  top:483px;
  width:140px;
  height:72px;
}
#u9259 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9260 {
  position:absolute;
  left:734px;
  top:519px;
  width:0px;
  height:0px;
  text-align:left;
}
#u9260_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:41px;
  height:8px;
}
#u9260_seg1 {
  position:absolute;
  left:-44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9261 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9262 {
  position:absolute;
  left:734px;
  top:717px;
  width:0px;
  height:0px;
  text-align:left;
}
#u9262_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:41px;
  height:8px;
}
#u9262_seg1 {
  position:absolute;
  left:-44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9263 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9264 {
  position:absolute;
  left:557px;
  top:681px;
  width:140px;
  height:72px;
}
#u9265 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9266 {
  position:absolute;
  left:385px;
  top:483px;
  width:140px;
  height:72px;
}
#u9267 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9268 {
  position:absolute;
  left:190px;
  top:483px;
  width:140px;
  height:72px;
}
#u9269 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9270 {
  position:absolute;
  left:385px;
  top:358px;
  width:140px;
  height:72px;
}
#u9271 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9272 {
  position:absolute;
  left:557px;
  top:519px;
  width:0px;
  height:0px;
  text-align:left;
}
#u9272_seg0 {
  position:absolute;
  left:-32px;
  top:-4px;
  width:36px;
  height:8px;
}
#u9272_seg1 {
  position:absolute;
  left:-39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9273 {
  position:absolute;
  left:-66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9274 {
  position:absolute;
  left:455px;
  top:483px;
  width:0px;
  height:0px;
}
#u9274_seg0 {
  position:absolute;
  left:-4px;
  top:-53px;
  width:8px;
  height:57px;
}
#u9274_seg1 {
  position:absolute;
  left:-10px;
  top:-60px;
  width:20px;
  height:20px;
}
#u9275 {
  position:absolute;
  left:-50px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
}
#u9276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u9276 {
  position:absolute;
  left:2025px;
  top:387px;
  width:200px;
  height:1px;
  color:#FF0000;
}
#u9277 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u9278 {
  position:absolute;
  left:2235px;
  top:380px;
  width:235px;
  height:32px;
  font-size:13px;
  color:#FF0000;
}
#u9279 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u9280 {
  position:absolute;
  left:1006px;
  top:394px;
  width:0px;
  height:0px;
}
#u9280_seg0 {
  position:absolute;
  left:-184px;
  top:-4px;
  width:188px;
  height:8px;
}
#u9280_seg1 {
  position:absolute;
  left:-191px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9281 {
  position:absolute;
  left:-142px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9282 {
  position:absolute;
  left:1006px;
  top:394px;
  width:0px;
  height:0px;
}
#u9282_seg0 {
  position:absolute;
  left:-91px;
  top:-4px;
  width:91px;
  height:8px;
}
#u9282_seg1 {
  position:absolute;
  left:-91px;
  top:-4px;
  width:8px;
  height:133px;
}
#u9282_seg2 {
  position:absolute;
  left:-132px;
  top:121px;
  width:49px;
  height:8px;
}
#u9282_seg3 {
  position:absolute;
  left:-139px;
  top:115px;
  width:20px;
  height:20px;
}
#u9283 {
  position:absolute;
  left:-137px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9284 {
  position:absolute;
  left:1006px;
  top:394px;
  width:0px;
  height:0px;
}
#u9284_seg0 {
  position:absolute;
  left:-70px;
  top:-4px;
  width:70px;
  height:8px;
}
#u9284_seg1 {
  position:absolute;
  left:-70px;
  top:-4px;
  width:8px;
  height:331px;
}
#u9284_seg2 {
  position:absolute;
  left:-132px;
  top:319px;
  width:70px;
  height:8px;
}
#u9284_seg3 {
  position:absolute;
  left:-139px;
  top:313px;
  width:20px;
  height:20px;
}
#u9285 {
  position:absolute;
  left:-116px;
  top:154px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9286 {
  position:absolute;
  left:1432px;
  top:358px;
  width:140px;
  height:72px;
}
#u9287 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9288 {
  position:absolute;
  left:1370px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9288_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u9288_seg1 {
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9289 {
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9290 {
  position:absolute;
  left:1502px;
  top:358px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9290_seg0 {
  position:absolute;
  left:-4px;
  top:-309px;
  width:8px;
  height:309px;
}
#u9290_seg1 {
  position:absolute;
  left:-356px;
  top:-309px;
  width:360px;
  height:8px;
}
#u9290_seg2 {
  position:absolute;
  left:-363px;
  top:-315px;
  width:20px;
  height:20px;
}
#u9291 {
  position:absolute;
  left:-76px;
  top:-313px;
  width:100px;
  word-wrap:break-word;
}
#u9292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9292 {
  position:absolute;
  left:1286px;
  top:73px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u9293 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9294 {
  position:absolute;
  left:385px;
  top:519px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9294_seg0 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:59px;
  height:8px;
}
#u9294_seg1 {
  position:absolute;
  left:-62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9295 {
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9296 {
  position:absolute;
  left:190px;
  top:358px;
  width:140px;
  height:72px;
}
#u9297 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9298 {
  position:absolute;
  left:0px;
  top:483px;
  width:140px;
  height:72px;
}
#u9299 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9300 {
  position:absolute;
  left:190px;
  top:519px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9300_seg0 {
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u9300_seg1 {
  position:absolute;
  left:-57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9301 {
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9302 {
  position:absolute;
  left:381px;
  top:681px;
  width:140px;
  height:72px;
}
#u9303 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9304 {
  position:absolute;
  left:381px;
  top:786px;
  width:140px;
  height:72px;
}
#u9305 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9306 {
  position:absolute;
  left:381px;
  top:902px;
  width:140px;
  height:72px;
}
#u9307 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9308 {
  position:absolute;
  left:627px;
  top:753px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9308_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:189px;
}
#u9308_seg1 {
  position:absolute;
  left:-106px;
  top:181px;
  width:110px;
  height:8px;
}
#u9308_seg2 {
  position:absolute;
  left:-113px;
  top:175px;
  width:20px;
  height:20px;
}
#u9309 {
  position:absolute;
  left:-50px;
  top:138px;
  width:100px;
  word-wrap:break-word;
}
#u9310 {
  position:absolute;
  left:557px;
  top:717px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9310_seg0 {
  position:absolute;
  left:-36px;
  top:-4px;
  width:40px;
  height:8px;
}
#u9310_seg1 {
  position:absolute;
  left:-43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9311 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9312 {
  position:absolute;
  left:190px;
  top:902px;
  width:140px;
  height:72px;
}
#u9313 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9314 {
  position:absolute;
  left:191px;
  top:1104px;
  width:140px;
  height:72px;
}
#u9315 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9316 {
  position:absolute;
  left:190px;
  top:1008px;
  width:140px;
  height:72px;
}
#u9317 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9318 {
  position:absolute;
  left:451px;
  top:974px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9318_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u9318_seg1 {
  position:absolute;
  left:-57px;
  top:6px;
  width:61px;
  height:8px;
}
#u9318_seg2 {
  position:absolute;
  left:-57px;
  top:6px;
  width:8px;
  height:68px;
}
#u9318_seg3 {
  position:absolute;
  left:-121px;
  top:66px;
  width:72px;
  height:8px;
}
#u9318_seg4 {
  position:absolute;
  left:-128px;
  top:60px;
  width:20px;
  height:20px;
}
#u9319 {
  position:absolute;
  left:-103px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u9320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9320 {
  position:absolute;
  left:191px;
  top:681px;
  width:140px;
  height:72px;
}
#u9321 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9322 {
  position:absolute;
  left:381px;
  top:717px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9322_seg0 {
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u9322_seg1 {
  position:absolute;
  left:-57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9323 {
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9324 {
  position:absolute;
  left:191px;
  top:565px;
  width:140px;
  height:72px;
}
#u9325 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9326 {
  position:absolute;
  left:0px;
  top:786px;
  width:140px;
  height:72px;
}
#u9327 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9328 {
  position:absolute;
  left:261px;
  top:681px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9328_seg0 {
  position:absolute;
  left:-4px;
  top:-44px;
  width:8px;
  height:48px;
}
#u9328_seg1 {
  position:absolute;
  left:-10px;
  top:-51px;
  width:20px;
  height:20px;
}
#u9329 {
  position:absolute;
  left:-50px;
  top:-30px;
  width:100px;
  word-wrap:break-word;
}
#u9330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9330 {
  position:absolute;
  left:190px;
  top:786px;
  width:140px;
  height:72px;
}
#u9331 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9332 {
  position:absolute;
  left:381px;
  top:822px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9332_seg0 {
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u9332_seg1 {
  position:absolute;
  left:-58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9333 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9334 {
  position:absolute;
  left:260px;
  top:483px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9334_seg0 {
  position:absolute;
  left:-4px;
  top:-53px;
  width:8px;
  height:57px;
}
#u9334_seg1 {
  position:absolute;
  left:-10px;
  top:-60px;
  width:20px;
  height:20px;
}
#u9335 {
  position:absolute;
  left:-50px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
}
#u9336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9336 {
  position:absolute;
  left:0px;
  top:681px;
  width:140px;
  height:72px;
}
#u9337 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9338 {
  position:absolute;
  left:191px;
  top:717px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9338_seg0 {
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u9338_seg1 {
  position:absolute;
  left:-58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9339 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9340 {
  position:absolute;
  left:0px;
  top:580px;
  width:140px;
  height:72px;
}
#u9341 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9342 {
  position:absolute;
  left:70px;
  top:681px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9342_seg0 {
  position:absolute;
  left:-4px;
  top:-29px;
  width:8px;
  height:33px;
}
#u9342_seg1 {
  position:absolute;
  left:-10px;
  top:-36px;
  width:20px;
  height:20px;
}
#u9343 {
  position:absolute;
  left:-50px;
  top:-22px;
  width:100px;
  word-wrap:break-word;
}
#u9344 {
  position:absolute;
  left:70px;
  top:753px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9344_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u9344_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u9345 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u9346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9346 {
  position:absolute;
  left:191px;
  top:1216px;
  width:140px;
  height:72px;
}
#u9347 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9348 {
  position:absolute;
  left:261px;
  top:1176px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9348_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u9348_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u9349 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9350 {
  position:absolute;
  left:0px;
  top:1216px;
  width:140px;
  height:72px;
}
#u9351 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9352 {
  position:absolute;
  left:191px;
  top:1252px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9352_seg0 {
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u9352_seg1 {
  position:absolute;
  left:-58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9353 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9354 {
  position:absolute;
  left:261px;
  top:1288px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9354_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u9354_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u9355 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u9356 {
  position:absolute;
  left:381px;
  top:938px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9356_seg0 {
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u9356_seg1 {
  position:absolute;
  left:-58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9357 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9358 {
  position:absolute;
  left:451px;
  top:974px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9358_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:170px;
}
#u9358_seg1 {
  position:absolute;
  left:-120px;
  top:162px;
  width:124px;
  height:8px;
}
#u9358_seg2 {
  position:absolute;
  left:-127px;
  top:156px;
  width:20px;
  height:20px;
}
#u9359 {
  position:absolute;
  left:-50px;
  top:135px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9360 {
  position:absolute;
  left:0px;
  top:902px;
  width:140px;
  height:72px;
}
#u9361 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9362 {
  position:absolute;
  left:190px;
  top:938px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9362_seg0 {
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u9362_seg1 {
  position:absolute;
  left:-57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9363 {
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9364 {
  position:absolute;
  left:191px;
  top:1335px;
  width:140px;
  height:72px;
}
#u9365 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9366 {
  position:absolute;
  left:1058px;
  top:488px;
  width:140px;
  height:72px;
}
#u9367 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9368 {
  position:absolute;
  left:1432px;
  top:488px;
  width:140px;
  height:72px;
}
#u9369 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9370 {
  position:absolute;
  left:1604px;
  top:488px;
  width:140px;
  height:72px;
}
#u9371 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9372 {
  position:absolute;
  left:1300px;
  top:430px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9372_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u9372_seg1 {
  position:absolute;
  left:-176px;
  top:22px;
  width:180px;
  height:8px;
}
#u9372_seg2 {
  position:absolute;
  left:-176px;
  top:22px;
  width:8px;
  height:36px;
}
#u9372_seg3 {
  position:absolute;
  left:-182px;
  top:45px;
  width:20px;
  height:20px;
}
#u9373 {
  position:absolute;
  left:-139px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9374 {
  position:absolute;
  left:1300px;
  top:430px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9374_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u9374_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:210px;
  height:8px;
}
#u9374_seg2 {
  position:absolute;
  left:198px;
  top:36px;
  width:8px;
  height:22px;
}
#u9374_seg3 {
  position:absolute;
  left:192px;
  top:45px;
  width:20px;
  height:20px;
}
#u9375 {
  position:absolute;
  left:40px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9376 {
  position:absolute;
  left:1300px;
  top:430px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9376_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u9376_seg1 {
  position:absolute;
  left:-4px;
  top:22px;
  width:382px;
  height:8px;
}
#u9376_seg2 {
  position:absolute;
  left:370px;
  top:22px;
  width:8px;
  height:36px;
}
#u9376_seg3 {
  position:absolute;
  left:364px;
  top:45px;
  width:20px;
  height:20px;
}
#u9377 {
  position:absolute;
  left:140px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9378 {
  position:absolute;
  left:1058px;
  top:592px;
  width:140px;
  height:72px;
}
#u9379 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9380 {
  position:absolute;
  left:1128px;
  top:560px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9380_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u9380_seg1 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u9381 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9382 {
  position:absolute;
  left:886px;
  top:757px;
  width:140px;
  height:72px;
}
#u9383 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9384 {
  position:absolute;
  left:1058px;
  top:757px;
  width:140px;
  height:72px;
}
#u9385 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9386 {
  position:absolute;
  left:1230px;
  top:757px;
  width:140px;
  height:72px;
}
#u9387 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9388 {
  position:absolute;
  left:627px;
  top:753px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9388_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u9388_seg1 {
  position:absolute;
  left:-106px;
  top:65px;
  width:110px;
  height:8px;
}
#u9388_seg2 {
  position:absolute;
  left:-113px;
  top:59px;
  width:20px;
  height:20px;
}
#u9389 {
  position:absolute;
  left:-68px;
  top:61px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9390 {
  position:absolute;
  left:1128px;
  top:664px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9390_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u9390_seg1 {
  position:absolute;
  left:-176px;
  top:51px;
  width:180px;
  height:8px;
}
#u9390_seg2 {
  position:absolute;
  left:-176px;
  top:51px;
  width:8px;
  height:42px;
}
#u9390_seg3 {
  position:absolute;
  left:-182px;
  top:80px;
  width:20px;
  height:20px;
}
#u9391 {
  position:absolute;
  left:-128px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9392 {
  position:absolute;
  left:1128px;
  top:664px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9392_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u9392_seg1 {
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u9393 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9394 {
  position:absolute;
  left:1128px;
  top:664px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9394_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u9394_seg1 {
  position:absolute;
  left:-4px;
  top:52px;
  width:180px;
  height:8px;
}
#u9394_seg2 {
  position:absolute;
  left:168px;
  top:52px;
  width:8px;
  height:41px;
}
#u9394_seg3 {
  position:absolute;
  left:162px;
  top:80px;
  width:20px;
  height:20px;
}
#u9395 {
  position:absolute;
  left:26px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9396 {
  position:absolute;
  left:886px;
  top:862px;
  width:140px;
  height:72px;
}
#u9397 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9398 {
  position:absolute;
  left:956px;
  top:829px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9398_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u9398_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u9399 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9400 {
  position:absolute;
  left:700px;
  top:862px;
  width:140px;
  height:72px;
}
#u9401 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9402 {
  position:absolute;
  left:886px;
  top:898px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9402_seg0 {
  position:absolute;
  left:-46px;
  top:-4px;
  width:50px;
  height:8px;
}
#u9402_seg1 {
  position:absolute;
  left:-53px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9403 {
  position:absolute;
  left:-73px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9404 {
  position:absolute;
  left:886px;
  top:979px;
  width:140px;
  height:72px;
}
#u9405 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9406 {
  position:absolute;
  left:956px;
  top:934px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9406_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u9406_seg1 {
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u9407 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u9408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9408 {
  position:absolute;
  left:1058px;
  top:862px;
  width:140px;
  height:72px;
}
#u9409 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9410 {
  position:absolute;
  left:1128px;
  top:829px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9410_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u9410_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u9411 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9412 {
  position:absolute;
  left:1230px;
  top:862px;
  width:140px;
  height:72px;
}
#u9413 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9414 {
  position:absolute;
  left:1300px;
  top:829px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9414_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u9414_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u9415 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9416 {
  position:absolute;
  left:1432px;
  top:592px;
  width:140px;
  height:72px;
}
#u9417 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9418 {
  position:absolute;
  left:1502px;
  top:560px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9418_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u9418_seg1 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u9419 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9420 {
  position:absolute;
  left:1244px;
  top:592px;
  width:140px;
  height:72px;
}
#u9421 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9422 {
  position:absolute;
  left:1432px;
  top:628px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9422_seg0 {
  position:absolute;
  left:-48px;
  top:-4px;
  width:52px;
  height:8px;
}
#u9422_seg1 {
  position:absolute;
  left:-55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9423 {
  position:absolute;
  left:-74px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9424 {
  position:absolute;
  left:1432px;
  top:757px;
  width:140px;
  height:72px;
}
#u9425 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9426 {
  position:absolute;
  left:1502px;
  top:664px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9426_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u9426_seg1 {
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u9427 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u9428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9428 {
  position:absolute;
  left:1604px;
  top:592px;
  width:140px;
  height:72px;
}
#u9429 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9430 {
  position:absolute;
  left:1674px;
  top:560px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9430_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u9430_seg1 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u9431 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9432 {
  position:absolute;
  left:1637px;
  top:161px;
  width:140px;
  height:72px;
}
#u9433 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9434 {
  position:absolute;
  left:1637px;
  top:268px;
  width:140px;
  height:72px;
}
#u9435 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9436 {
  position:absolute;
  left:1637px;
  top:371px;
  width:140px;
  height:72px;
}
#u9437 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9438 {
  position:absolute;
  left:1572px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9438_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u9438_seg1 {
  position:absolute;
  left:27px;
  top:-201px;
  width:8px;
  height:205px;
}
#u9438_seg2 {
  position:absolute;
  left:27px;
  top:-201px;
  width:38px;
  height:8px;
}
#u9438_seg3 {
  position:absolute;
  left:52px;
  top:-207px;
  width:20px;
  height:20px;
}
#u9439 {
  position:absolute;
  left:-19px;
  top:-108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9440 {
  position:absolute;
  left:1572px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9440_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u9440_seg1 {
  position:absolute;
  left:37px;
  top:-94px;
  width:8px;
  height:98px;
}
#u9440_seg2 {
  position:absolute;
  left:37px;
  top:-94px;
  width:28px;
  height:8px;
}
#u9440_seg3 {
  position:absolute;
  left:52px;
  top:-100px;
  width:20px;
  height:20px;
}
#u9441 {
  position:absolute;
  left:-9px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9442 {
  position:absolute;
  left:1572px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9442_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u9442_seg1 {
  position:absolute;
  left:39px;
  top:-4px;
  width:8px;
  height:21px;
}
#u9442_seg2 {
  position:absolute;
  left:39px;
  top:9px;
  width:26px;
  height:8px;
}
#u9442_seg3 {
  position:absolute;
  left:52px;
  top:3px;
  width:20px;
  height:20px;
}
#u9443 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9444 {
  position:absolute;
  left:1829px;
  top:371px;
  width:140px;
  height:72px;
}
#u9445 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9446 {
  position:absolute;
  left:1829px;
  top:268px;
  width:140px;
  height:72px;
}
#u9447 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9448 {
  position:absolute;
  left:1829px;
  top:161px;
  width:140px;
  height:72px;
}
#u9449 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9450 {
  position:absolute;
  left:1777px;
  top:197px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9450_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u9450_seg1 {
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9451 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9452 {
  position:absolute;
  left:1777px;
  top:304px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9452_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u9452_seg1 {
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9453 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9454 {
  position:absolute;
  left:1777px;
  top:407px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9454_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u9454_seg1 {
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9455 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9456 {
  position:absolute;
  left:6px;
  top:64px;
  width:293px;
  height:80px;
  color:#FF0000;
}
#u9457 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
