body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8052 {
  position:absolute;
  left:1006px;
  top:17px;
  width:140px;
  height:72px;
}
#u8053 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8054 {
  position:absolute;
  left:1006px;
  top:132px;
  width:140px;
  height:72px;
}
#u8055 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8056 {
  position:absolute;
  left:877px;
  top:251px;
  width:140px;
  height:72px;
}
#u8057 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8058 {
  position:absolute;
  left:2025px;
  top:170px;
  width:200px;
  height:1px;
  color:#FF0000;
}
#u8059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8060 {
  position:absolute;
  left:2235px;
  top:163px;
  width:235px;
  height:48px;
  color:#FF0000;
}
#u8061 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u8062 {
  position:absolute;
  left:1006px;
  top:168px;
  width:0px;
  height:0px;
}
#u8062_seg0 {
  position:absolute;
  left:-63px;
  top:-4px;
  width:63px;
  height:8px;
}
#u8062_seg1 {
  position:absolute;
  left:-63px;
  top:-4px;
  width:8px;
  height:87px;
}
#u8062_seg2 {
  position:absolute;
  left:-69px;
  top:70px;
  width:20px;
  height:20px;
}
#u8063 {
  position:absolute;
  left:-109px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u8064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8064 {
  position:absolute;
  left:1006px;
  top:358px;
  width:140px;
  height:72px;
}
#u8065 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8066 {
  position:absolute;
  left:1132px;
  top:251px;
  width:140px;
  height:72px;
}
#u8067 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8068 {
  position:absolute;
  left:1146px;
  top:168px;
  width:0px;
  height:0px;
}
#u8068_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u8068_seg1 {
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:87px;
}
#u8068_seg2 {
  position:absolute;
  left:46px;
  top:70px;
  width:20px;
  height:20px;
}
#u8069 {
  position:absolute;
  left:6px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u8070 {
  position:absolute;
  left:1076px;
  top:89px;
  width:0px;
  height:0px;
}
#u8070_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u8070_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u8071 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8072 {
  position:absolute;
  left:2016px;
  top:286px;
  width:200px;
  height:1px;
  color:#FF0000;
}
#u8073 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u8074 {
  position:absolute;
  left:2226px;
  top:279px;
  width:235px;
  height:80px;
  font-size:13px;
  color:#FF0000;
}
#u8075 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u8076 {
  position:absolute;
  left:947px;
  top:323px;
  width:0px;
  height:0px;
}
#u8076_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u8076_seg1 {
  position:absolute;
  left:-4px;
  top:10px;
  width:137px;
  height:8px;
}
#u8076_seg2 {
  position:absolute;
  left:125px;
  top:10px;
  width:8px;
  height:25px;
}
#u8076_seg3 {
  position:absolute;
  left:119px;
  top:22px;
  width:20px;
  height:20px;
}
#u8077 {
  position:absolute;
  left:18px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8078 {
  position:absolute;
  left:759px;
  top:358px;
  width:63px;
  height:72px;
}
#u8079 {
  position:absolute;
  left:2px;
  top:28px;
  width:59px;
  word-wrap:break-word;
}
#u8080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8080 {
  position:absolute;
  left:734px;
  top:483px;
  width:140px;
  height:72px;
}
#u8081 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8082 {
  position:absolute;
  left:734px;
  top:681px;
  width:140px;
  height:72px;
}
#u8083 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8084 {
  position:absolute;
  left:1230px;
  top:358px;
  width:140px;
  height:72px;
}
#u8085 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8086 {
  position:absolute;
  left:1202px;
  top:323px;
  width:0px;
  height:0px;
}
#u8086_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u8086_seg1 {
  position:absolute;
  left:-130px;
  top:11px;
  width:134px;
  height:8px;
}
#u8086_seg2 {
  position:absolute;
  left:-130px;
  top:11px;
  width:8px;
  height:24px;
}
#u8086_seg3 {
  position:absolute;
  left:-136px;
  top:22px;
  width:20px;
  height:20px;
}
#u8087 {
  position:absolute;
  left:-116px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8088 {
  position:absolute;
  left:1158px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8088_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u8088_seg1 {
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8089 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8090 {
  position:absolute;
  left:557px;
  top:358px;
  width:140px;
  height:72px;
}
#u8091 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8092 {
  position:absolute;
  left:759px;
  top:394px;
  width:0px;
  height:0px;
  text-align:left;
}
#u8092_seg0 {
  position:absolute;
  left:-62px;
  top:-4px;
  width:66px;
  height:8px;
}
#u8092_seg1 {
  position:absolute;
  left:-69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8093 {
  position:absolute;
  left:-81px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8094 {
  position:absolute;
  left:557px;
  top:483px;
  width:140px;
  height:72px;
}
#u8095 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8096 {
  position:absolute;
  left:734px;
  top:519px;
  width:0px;
  height:0px;
  text-align:left;
}
#u8096_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:41px;
  height:8px;
}
#u8096_seg1 {
  position:absolute;
  left:-44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8097 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8098 {
  position:absolute;
  left:734px;
  top:717px;
  width:0px;
  height:0px;
  text-align:left;
}
#u8098_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:41px;
  height:8px;
}
#u8098_seg1 {
  position:absolute;
  left:-44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8099 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8100 {
  position:absolute;
  left:557px;
  top:681px;
  width:140px;
  height:72px;
}
#u8101 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8102 {
  position:absolute;
  left:385px;
  top:483px;
  width:140px;
  height:72px;
}
#u8103 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8104 {
  position:absolute;
  left:190px;
  top:483px;
  width:140px;
  height:72px;
}
#u8105 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8106 {
  position:absolute;
  left:385px;
  top:358px;
  width:140px;
  height:72px;
}
#u8107 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8108 {
  position:absolute;
  left:557px;
  top:519px;
  width:0px;
  height:0px;
  text-align:left;
}
#u8108_seg0 {
  position:absolute;
  left:-32px;
  top:-4px;
  width:36px;
  height:8px;
}
#u8108_seg1 {
  position:absolute;
  left:-39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8109 {
  position:absolute;
  left:-66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8110 {
  position:absolute;
  left:455px;
  top:483px;
  width:0px;
  height:0px;
}
#u8110_seg0 {
  position:absolute;
  left:-4px;
  top:-53px;
  width:8px;
  height:57px;
}
#u8110_seg1 {
  position:absolute;
  left:-10px;
  top:-60px;
  width:20px;
  height:20px;
}
#u8111 {
  position:absolute;
  left:-50px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
}
#u8112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8112 {
  position:absolute;
  left:2025px;
  top:387px;
  width:200px;
  height:1px;
  color:#FF0000;
}
#u8113 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u8114 {
  position:absolute;
  left:2235px;
  top:380px;
  width:235px;
  height:32px;
  font-size:13px;
  color:#FF0000;
}
#u8115 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u8116 {
  position:absolute;
  left:1006px;
  top:394px;
  width:0px;
  height:0px;
}
#u8116_seg0 {
  position:absolute;
  left:-184px;
  top:-4px;
  width:188px;
  height:8px;
}
#u8116_seg1 {
  position:absolute;
  left:-191px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8117 {
  position:absolute;
  left:-142px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8118 {
  position:absolute;
  left:1006px;
  top:394px;
  width:0px;
  height:0px;
}
#u8118_seg0 {
  position:absolute;
  left:-91px;
  top:-4px;
  width:91px;
  height:8px;
}
#u8118_seg1 {
  position:absolute;
  left:-91px;
  top:-4px;
  width:8px;
  height:133px;
}
#u8118_seg2 {
  position:absolute;
  left:-132px;
  top:121px;
  width:49px;
  height:8px;
}
#u8118_seg3 {
  position:absolute;
  left:-139px;
  top:115px;
  width:20px;
  height:20px;
}
#u8119 {
  position:absolute;
  left:-137px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8120 {
  position:absolute;
  left:1006px;
  top:394px;
  width:0px;
  height:0px;
}
#u8120_seg0 {
  position:absolute;
  left:-70px;
  top:-4px;
  width:70px;
  height:8px;
}
#u8120_seg1 {
  position:absolute;
  left:-70px;
  top:-4px;
  width:8px;
  height:331px;
}
#u8120_seg2 {
  position:absolute;
  left:-132px;
  top:319px;
  width:70px;
  height:8px;
}
#u8120_seg3 {
  position:absolute;
  left:-139px;
  top:313px;
  width:20px;
  height:20px;
}
#u8121 {
  position:absolute;
  left:-116px;
  top:154px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8122 {
  position:absolute;
  left:1432px;
  top:358px;
  width:140px;
  height:72px;
}
#u8123 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8124 {
  position:absolute;
  left:1370px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8124_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u8124_seg1 {
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8125 {
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8126 {
  position:absolute;
  left:1502px;
  top:358px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8126_seg0 {
  position:absolute;
  left:-4px;
  top:-309px;
  width:8px;
  height:309px;
}
#u8126_seg1 {
  position:absolute;
  left:-356px;
  top:-309px;
  width:360px;
  height:8px;
}
#u8126_seg2 {
  position:absolute;
  left:-363px;
  top:-315px;
  width:20px;
  height:20px;
}
#u8127 {
  position:absolute;
  left:-76px;
  top:-313px;
  width:100px;
  word-wrap:break-word;
}
#u8128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8128 {
  position:absolute;
  left:1286px;
  top:73px;
  width:29px;
  height:16px;
  color:#FF0000;
}
#u8129 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8130 {
  position:absolute;
  left:385px;
  top:519px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8130_seg0 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:59px;
  height:8px;
}
#u8130_seg1 {
  position:absolute;
  left:-62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8131 {
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8132 {
  position:absolute;
  left:190px;
  top:358px;
  width:140px;
  height:72px;
}
#u8133 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8134 {
  position:absolute;
  left:0px;
  top:483px;
  width:140px;
  height:72px;
}
#u8135 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8136 {
  position:absolute;
  left:190px;
  top:519px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8136_seg0 {
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u8136_seg1 {
  position:absolute;
  left:-57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8137 {
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8138 {
  position:absolute;
  left:381px;
  top:681px;
  width:140px;
  height:72px;
}
#u8139 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8140 {
  position:absolute;
  left:381px;
  top:786px;
  width:140px;
  height:72px;
}
#u8141 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8142 {
  position:absolute;
  left:381px;
  top:902px;
  width:140px;
  height:72px;
}
#u8143 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8144 {
  position:absolute;
  left:627px;
  top:753px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8144_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:189px;
}
#u8144_seg1 {
  position:absolute;
  left:-106px;
  top:181px;
  width:110px;
  height:8px;
}
#u8144_seg2 {
  position:absolute;
  left:-113px;
  top:175px;
  width:20px;
  height:20px;
}
#u8145 {
  position:absolute;
  left:-50px;
  top:138px;
  width:100px;
  word-wrap:break-word;
}
#u8146 {
  position:absolute;
  left:557px;
  top:717px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8146_seg0 {
  position:absolute;
  left:-36px;
  top:-4px;
  width:40px;
  height:8px;
}
#u8146_seg1 {
  position:absolute;
  left:-43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8147 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8148 {
  position:absolute;
  left:190px;
  top:902px;
  width:140px;
  height:72px;
}
#u8149 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8150 {
  position:absolute;
  left:191px;
  top:1104px;
  width:140px;
  height:72px;
}
#u8151 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8152 {
  position:absolute;
  left:190px;
  top:1008px;
  width:140px;
  height:72px;
}
#u8153 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8154 {
  position:absolute;
  left:451px;
  top:974px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8154_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u8154_seg1 {
  position:absolute;
  left:-57px;
  top:6px;
  width:61px;
  height:8px;
}
#u8154_seg2 {
  position:absolute;
  left:-57px;
  top:6px;
  width:8px;
  height:68px;
}
#u8154_seg3 {
  position:absolute;
  left:-121px;
  top:66px;
  width:72px;
  height:8px;
}
#u8154_seg4 {
  position:absolute;
  left:-128px;
  top:60px;
  width:20px;
  height:20px;
}
#u8155 {
  position:absolute;
  left:-103px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u8156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8156 {
  position:absolute;
  left:191px;
  top:681px;
  width:140px;
  height:72px;
}
#u8157 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8158 {
  position:absolute;
  left:381px;
  top:717px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8158_seg0 {
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u8158_seg1 {
  position:absolute;
  left:-57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8159 {
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8160 {
  position:absolute;
  left:191px;
  top:565px;
  width:140px;
  height:72px;
}
#u8161 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8162 {
  position:absolute;
  left:0px;
  top:786px;
  width:140px;
  height:72px;
}
#u8163 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8164 {
  position:absolute;
  left:261px;
  top:681px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8164_seg0 {
  position:absolute;
  left:-4px;
  top:-44px;
  width:8px;
  height:48px;
}
#u8164_seg1 {
  position:absolute;
  left:-10px;
  top:-51px;
  width:20px;
  height:20px;
}
#u8165 {
  position:absolute;
  left:-50px;
  top:-30px;
  width:100px;
  word-wrap:break-word;
}
#u8166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8166 {
  position:absolute;
  left:190px;
  top:786px;
  width:140px;
  height:72px;
}
#u8167 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8168 {
  position:absolute;
  left:381px;
  top:822px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8168_seg0 {
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u8168_seg1 {
  position:absolute;
  left:-58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8169 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8170 {
  position:absolute;
  left:260px;
  top:483px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8170_seg0 {
  position:absolute;
  left:-4px;
  top:-53px;
  width:8px;
  height:57px;
}
#u8170_seg1 {
  position:absolute;
  left:-10px;
  top:-60px;
  width:20px;
  height:20px;
}
#u8171 {
  position:absolute;
  left:-50px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
}
#u8172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8172 {
  position:absolute;
  left:0px;
  top:681px;
  width:140px;
  height:72px;
}
#u8173 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8174 {
  position:absolute;
  left:191px;
  top:717px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8174_seg0 {
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u8174_seg1 {
  position:absolute;
  left:-58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8175 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8176 {
  position:absolute;
  left:0px;
  top:580px;
  width:140px;
  height:72px;
}
#u8177 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8178 {
  position:absolute;
  left:70px;
  top:681px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8178_seg0 {
  position:absolute;
  left:-4px;
  top:-29px;
  width:8px;
  height:33px;
}
#u8178_seg1 {
  position:absolute;
  left:-10px;
  top:-36px;
  width:20px;
  height:20px;
}
#u8179 {
  position:absolute;
  left:-50px;
  top:-22px;
  width:100px;
  word-wrap:break-word;
}
#u8180 {
  position:absolute;
  left:70px;
  top:753px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8180_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u8180_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u8181 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u8182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8182 {
  position:absolute;
  left:191px;
  top:1216px;
  width:140px;
  height:72px;
}
#u8183 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8184 {
  position:absolute;
  left:261px;
  top:1176px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8184_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u8184_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u8185 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8186 {
  position:absolute;
  left:0px;
  top:1216px;
  width:140px;
  height:72px;
}
#u8187 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8188 {
  position:absolute;
  left:191px;
  top:1252px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8188_seg0 {
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u8188_seg1 {
  position:absolute;
  left:-58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8189 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8190 {
  position:absolute;
  left:261px;
  top:1288px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8190_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u8190_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u8191 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u8192 {
  position:absolute;
  left:381px;
  top:938px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8192_seg0 {
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u8192_seg1 {
  position:absolute;
  left:-58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8193 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8194 {
  position:absolute;
  left:451px;
  top:974px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8194_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:170px;
}
#u8194_seg1 {
  position:absolute;
  left:-120px;
  top:162px;
  width:124px;
  height:8px;
}
#u8194_seg2 {
  position:absolute;
  left:-127px;
  top:156px;
  width:20px;
  height:20px;
}
#u8195 {
  position:absolute;
  left:-50px;
  top:135px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8196 {
  position:absolute;
  left:0px;
  top:902px;
  width:140px;
  height:72px;
}
#u8197 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8198 {
  position:absolute;
  left:190px;
  top:938px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8198_seg0 {
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u8198_seg1 {
  position:absolute;
  left:-57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8199 {
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8200 {
  position:absolute;
  left:191px;
  top:1335px;
  width:140px;
  height:72px;
}
#u8201 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8202 {
  position:absolute;
  left:1058px;
  top:488px;
  width:140px;
  height:72px;
}
#u8203 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8204 {
  position:absolute;
  left:1432px;
  top:488px;
  width:140px;
  height:72px;
}
#u8205 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8206 {
  position:absolute;
  left:1604px;
  top:488px;
  width:140px;
  height:72px;
}
#u8207 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8208 {
  position:absolute;
  left:1300px;
  top:430px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8208_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u8208_seg1 {
  position:absolute;
  left:-176px;
  top:22px;
  width:180px;
  height:8px;
}
#u8208_seg2 {
  position:absolute;
  left:-176px;
  top:22px;
  width:8px;
  height:36px;
}
#u8208_seg3 {
  position:absolute;
  left:-182px;
  top:45px;
  width:20px;
  height:20px;
}
#u8209 {
  position:absolute;
  left:-139px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8210 {
  position:absolute;
  left:1300px;
  top:430px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8210_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u8210_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:210px;
  height:8px;
}
#u8210_seg2 {
  position:absolute;
  left:198px;
  top:36px;
  width:8px;
  height:22px;
}
#u8210_seg3 {
  position:absolute;
  left:192px;
  top:45px;
  width:20px;
  height:20px;
}
#u8211 {
  position:absolute;
  left:40px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8212 {
  position:absolute;
  left:1300px;
  top:430px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8212_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u8212_seg1 {
  position:absolute;
  left:-4px;
  top:22px;
  width:382px;
  height:8px;
}
#u8212_seg2 {
  position:absolute;
  left:370px;
  top:22px;
  width:8px;
  height:36px;
}
#u8212_seg3 {
  position:absolute;
  left:364px;
  top:45px;
  width:20px;
  height:20px;
}
#u8213 {
  position:absolute;
  left:140px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8214 {
  position:absolute;
  left:1058px;
  top:592px;
  width:140px;
  height:72px;
}
#u8215 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8216 {
  position:absolute;
  left:1128px;
  top:560px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8216_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u8216_seg1 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u8217 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8218 {
  position:absolute;
  left:886px;
  top:757px;
  width:140px;
  height:72px;
}
#u8219 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8220 {
  position:absolute;
  left:1058px;
  top:757px;
  width:140px;
  height:72px;
}
#u8221 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8222 {
  position:absolute;
  left:1230px;
  top:757px;
  width:140px;
  height:72px;
}
#u8223 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8224 {
  position:absolute;
  left:627px;
  top:753px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8224_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u8224_seg1 {
  position:absolute;
  left:-106px;
  top:65px;
  width:110px;
  height:8px;
}
#u8224_seg2 {
  position:absolute;
  left:-113px;
  top:59px;
  width:20px;
  height:20px;
}
#u8225 {
  position:absolute;
  left:-68px;
  top:61px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8226 {
  position:absolute;
  left:1128px;
  top:664px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8226_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u8226_seg1 {
  position:absolute;
  left:-176px;
  top:51px;
  width:180px;
  height:8px;
}
#u8226_seg2 {
  position:absolute;
  left:-176px;
  top:51px;
  width:8px;
  height:42px;
}
#u8226_seg3 {
  position:absolute;
  left:-182px;
  top:80px;
  width:20px;
  height:20px;
}
#u8227 {
  position:absolute;
  left:-128px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8228 {
  position:absolute;
  left:1128px;
  top:664px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8228_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u8228_seg1 {
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u8229 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8230 {
  position:absolute;
  left:1128px;
  top:664px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8230_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u8230_seg1 {
  position:absolute;
  left:-4px;
  top:52px;
  width:180px;
  height:8px;
}
#u8230_seg2 {
  position:absolute;
  left:168px;
  top:52px;
  width:8px;
  height:41px;
}
#u8230_seg3 {
  position:absolute;
  left:162px;
  top:80px;
  width:20px;
  height:20px;
}
#u8231 {
  position:absolute;
  left:26px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8232 {
  position:absolute;
  left:886px;
  top:862px;
  width:140px;
  height:72px;
}
#u8233 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8234 {
  position:absolute;
  left:956px;
  top:829px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8234_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u8234_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u8235 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8236 {
  position:absolute;
  left:700px;
  top:862px;
  width:140px;
  height:72px;
}
#u8237 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8238 {
  position:absolute;
  left:886px;
  top:898px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8238_seg0 {
  position:absolute;
  left:-46px;
  top:-4px;
  width:50px;
  height:8px;
}
#u8238_seg1 {
  position:absolute;
  left:-53px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8239 {
  position:absolute;
  left:-73px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8240 {
  position:absolute;
  left:886px;
  top:979px;
  width:140px;
  height:72px;
}
#u8241 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8242 {
  position:absolute;
  left:956px;
  top:934px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8242_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u8242_seg1 {
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u8243 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u8244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8244 {
  position:absolute;
  left:1058px;
  top:862px;
  width:140px;
  height:72px;
}
#u8245 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8246 {
  position:absolute;
  left:1128px;
  top:829px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8246_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u8246_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u8247 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8248 {
  position:absolute;
  left:1230px;
  top:862px;
  width:140px;
  height:72px;
}
#u8249 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8250 {
  position:absolute;
  left:1300px;
  top:829px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8250_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u8250_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u8251 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8252 {
  position:absolute;
  left:1432px;
  top:592px;
  width:140px;
  height:72px;
}
#u8253 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8254 {
  position:absolute;
  left:1502px;
  top:560px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8254_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u8254_seg1 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u8255 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8256 {
  position:absolute;
  left:1244px;
  top:592px;
  width:140px;
  height:72px;
}
#u8257 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8258 {
  position:absolute;
  left:1432px;
  top:628px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8258_seg0 {
  position:absolute;
  left:-48px;
  top:-4px;
  width:52px;
  height:8px;
}
#u8258_seg1 {
  position:absolute;
  left:-55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8259 {
  position:absolute;
  left:-74px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8260 {
  position:absolute;
  left:1432px;
  top:757px;
  width:140px;
  height:72px;
}
#u8261 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8262 {
  position:absolute;
  left:1502px;
  top:664px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8262_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u8262_seg1 {
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u8263 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u8264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8264 {
  position:absolute;
  left:1604px;
  top:592px;
  width:140px;
  height:72px;
}
#u8265 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8266 {
  position:absolute;
  left:1674px;
  top:560px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8266_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u8266_seg1 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u8267 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8268 {
  position:absolute;
  left:1637px;
  top:161px;
  width:140px;
  height:72px;
}
#u8269 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8270 {
  position:absolute;
  left:1637px;
  top:268px;
  width:140px;
  height:72px;
}
#u8271 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8272 {
  position:absolute;
  left:1637px;
  top:371px;
  width:140px;
  height:72px;
}
#u8273 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u8274 {
  position:absolute;
  left:1572px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8274_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u8274_seg1 {
  position:absolute;
  left:27px;
  top:-201px;
  width:8px;
  height:205px;
}
#u8274_seg2 {
  position:absolute;
  left:27px;
  top:-201px;
  width:38px;
  height:8px;
}
#u8274_seg3 {
  position:absolute;
  left:52px;
  top:-207px;
  width:20px;
  height:20px;
}
#u8275 {
  position:absolute;
  left:-19px;
  top:-108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8276 {
  position:absolute;
  left:1572px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8276_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u8276_seg1 {
  position:absolute;
  left:37px;
  top:-94px;
  width:8px;
  height:98px;
}
#u8276_seg2 {
  position:absolute;
  left:37px;
  top:-94px;
  width:28px;
  height:8px;
}
#u8276_seg3 {
  position:absolute;
  left:52px;
  top:-100px;
  width:20px;
  height:20px;
}
#u8277 {
  position:absolute;
  left:-9px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8278 {
  position:absolute;
  left:1572px;
  top:394px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8278_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u8278_seg1 {
  position:absolute;
  left:39px;
  top:-4px;
  width:8px;
  height:21px;
}
#u8278_seg2 {
  position:absolute;
  left:39px;
  top:9px;
  width:26px;
  height:8px;
}
#u8278_seg3 {
  position:absolute;
  left:52px;
  top:3px;
  width:20px;
  height:20px;
}
#u8279 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8280 {
  position:absolute;
  left:1829px;
  top:371px;
  width:140px;
  height:72px;
}
#u8281 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8282 {
  position:absolute;
  left:1829px;
  top:268px;
  width:140px;
  height:72px;
}
#u8283 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u8284 {
  position:absolute;
  left:1829px;
  top:161px;
  width:140px;
  height:72px;
}
#u8285 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u8286 {
  position:absolute;
  left:1777px;
  top:197px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8286_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u8286_seg1 {
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8287 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8288 {
  position:absolute;
  left:1777px;
  top:304px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8288_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u8288_seg1 {
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8289 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8290 {
  position:absolute;
  left:1777px;
  top:407px;
  width:0px;
  height:0px;
  color:#000000;
}
#u8290_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u8290_seg1 {
  position:absolute;
  left:39px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8291 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8292 {
  position:absolute;
  left:6px;
  top:64px;
  width:293px;
  height:80px;
  color:#FF0000;
}
#u8293 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
