body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9462 {
  position:absolute;
  left:137px;
  top:41px;
  width:140px;
  height:72px;
}
#u9463 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9464 {
  position:absolute;
  left:137px;
  top:427px;
  width:140px;
  height:72px;
}
#u9465 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9466 {
  position:absolute;
  left:137px;
  top:536px;
  width:140px;
  height:72px;
}
#u9467 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9468 {
  position:absolute;
  left:137px;
  top:643px;
  width:140px;
  height:72px;
}
#u9469 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9470 {
  position:absolute;
  left:137px;
  top:746px;
  width:140px;
  height:72px;
}
#u9471 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9472 {
  position:absolute;
  left:207px;
  top:499px;
  width:0px;
  height:0px;
}
#u9472_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u9472_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u9473 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9474 {
  position:absolute;
  left:207px;
  top:608px;
  width:0px;
  height:0px;
}
#u9474_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u9474_seg1 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:20px;
}
#u9475 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9476 {
  position:absolute;
  left:207px;
  top:715px;
  width:0px;
  height:0px;
}
#u9476_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u9476_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u9477 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9478 {
  position:absolute;
  left:16px;
  top:17px;
  width:127px;
  height:16px;
  color:#FF0000;
}
#u9479 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u9480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:61px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9480 {
  position:absolute;
  left:137px;
  top:238px;
  width:140px;
  height:61px;
}
#u9481 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u9482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9482 {
  position:absolute;
  left:137px;
  top:328px;
  width:140px;
  height:72px;
}
#u9483 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9484 {
  position:absolute;
  left:207px;
  top:299px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9484_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u9484_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u9485 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9486 {
  position:absolute;
  left:207px;
  top:400px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9486_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u9486_seg1 {
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u9487 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9488 {
  position:absolute;
  left:137px;
  top:782px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9488_seg0 {
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u9488_seg1 {
  position:absolute;
  left:-50px;
  top:-517px;
  width:8px;
  height:521px;
}
#u9488_seg2 {
  position:absolute;
  left:-50px;
  top:-517px;
  width:50px;
  height:8px;
}
#u9488_seg3 {
  position:absolute;
  left:-13px;
  top:-523px;
  width:20px;
  height:20px;
}
#u9489 {
  position:absolute;
  left:-96px;
  top:-264px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:61px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9490 {
  position:absolute;
  left:137px;
  top:140px;
  width:140px;
  height:61px;
}
#u9491 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u9492 {
  position:absolute;
  left:207px;
  top:113px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9492_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u9492_seg1 {
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u9493 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9494 {
  position:absolute;
  left:207px;
  top:201px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9494_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u9494_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u9495 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
