body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9076 {
  position:absolute;
  left:632px;
  top:127px;
  width:140px;
  height:72px;
}
#u9077 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9078 {
  position:absolute;
  left:632px;
  top:348px;
  width:140px;
  height:72px;
}
#u9079 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9080 {
  position:absolute;
  left:632px;
  top:478px;
  width:140px;
  height:72px;
}
#u9081 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9082 {
  position:absolute;
  left:702px;
  top:420px;
  width:0px;
  height:0px;
}
#u9082_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u9082_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u9083 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u9084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9084 {
  position:absolute;
  left:829px;
  top:348px;
  width:140px;
  height:72px;
}
#u9085 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9086 {
  position:absolute;
  left:772px;
  top:384px;
  width:0px;
  height:0px;
}
#u9086_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u9086_seg1 {
  position:absolute;
  left:44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9087 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9088 {
  position:absolute;
  left:829px;
  top:478px;
  width:140px;
  height:72px;
}
#u9089 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9090 {
  position:absolute;
  left:772px;
  top:514px;
  width:0px;
  height:0px;
}
#u9090_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u9090_seg1 {
  position:absolute;
  left:44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9091 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9092 {
  position:absolute;
  left:12px;
  top:19px;
  width:211px;
  height:16px;
  color:#FF0000;
}
#u9093 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u9094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9094 {
  position:absolute;
  left:632px;
  top:236px;
  width:140px;
  height:72px;
}
#u9095 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9096 {
  position:absolute;
  left:702px;
  top:199px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9096_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u9096_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u9097 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9098 {
  position:absolute;
  left:702px;
  top:308px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9098_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u9098_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u9099 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9100 {
  position:absolute;
  left:632px;
  top:599px;
  width:140px;
  height:72px;
}
#u9101 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9102 {
  position:absolute;
  left:702px;
  top:550px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9102_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u9102_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u9103 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u9104 {
  position:absolute;
  left:702px;
  top:671px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9104_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u9104_seg1 {
  position:absolute;
  left:-107px;
  top:15px;
  width:111px;
  height:8px;
}
#u9104_seg2 {
  position:absolute;
  left:-107px;
  top:-291px;
  width:8px;
  height:314px;
}
#u9104_seg3 {
  position:absolute;
  left:-107px;
  top:-291px;
  width:37px;
  height:8px;
}
#u9104_seg4 {
  position:absolute;
  left:-83px;
  top:-297px;
  width:20px;
  height:20px;
}
#u9105 {
  position:absolute;
  left:-153px;
  top:-98px;
  width:100px;
  word-wrap:break-word;
}
#u9106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9106 {
  position:absolute;
  left:829px;
  top:599px;
  width:140px;
  height:72px;
}
#u9107 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9108 {
  position:absolute;
  left:772px;
  top:635px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9108_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u9108_seg1 {
  position:absolute;
  left:44px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9109 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u9110 {
  position:absolute;
  left:998px;
  top:383px;
  width:200px;
  height:1px;
  color:#FF0000;
}
#u9111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9112 {
  position:absolute;
  left:1208px;
  top:376px;
  width:235px;
  height:32px;
  color:#FF0000;
}
#u9113 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u9114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u9114 {
  position:absolute;
  left:998px;
  top:513px;
  width:200px;
  height:1px;
  color:#FF0000;
}
#u9115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9116 {
  position:absolute;
  left:1208px;
  top:506px;
  width:235px;
  height:16px;
  color:#FF0000;
}
#u9117 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u9118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u9118 {
  position:absolute;
  left:998px;
  top:636px;
  width:200px;
  height:1px;
  color:#FF0000;
}
#u9119 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9120 {
  position:absolute;
  left:1208px;
  top:629px;
  width:235px;
  height:32px;
  color:#FF0000;
}
#u9121 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u9122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9122 {
  position:absolute;
  left:37px;
  top:136px;
  width:140px;
  height:72px;
}
#u9123 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9124 {
  position:absolute;
  left:37px;
  top:245px;
  width:140px;
  height:72px;
}
#u9125 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u9126 {
  position:absolute;
  left:107px;
  top:208px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9126_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u9126_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u9127 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u9128 {
  position:absolute;
  left:12px;
  top:101px;
  width:37px;
  height:16px;
  color:#0000FF;
}
#u9129 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9130 {
  position:absolute;
  left:37px;
  top:347px;
  width:140px;
  height:72px;
}
#u9131 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u9132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u9132 {
  position:absolute;
  left:242px;
  top:347px;
  width:140px;
  height:72px;
}
#u9133 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9134 {
  position:absolute;
  left:177px;
  top:383px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9134_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u9134_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9135 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9136 {
  position:absolute;
  left:107px;
  top:317px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9136_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u9136_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u9137 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9138 {
  position:absolute;
  left:107px;
  top:419px;
  width:0px;
  height:0px;
  color:#000000;
}
#u9138_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u9138_seg1 {
  position:absolute;
  left:-74px;
  top:43px;
  width:78px;
  height:8px;
}
#u9138_seg2 {
  position:absolute;
  left:-74px;
  top:-36px;
  width:8px;
  height:87px;
}
#u9138_seg3 {
  position:absolute;
  left:-80px;
  top:-43px;
  width:20px;
  height:20px;
}
#u9139 {
  position:absolute;
  left:-103px;
  top:39px;
  width:100px;
  word-wrap:break-word;
}
#u9140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u9140 {
  position:absolute;
  left:632px;
  top:101px;
  width:37px;
  height:16px;
  color:#0000FF;
}
#u9141 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
