body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:878px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u7890 {
  position:absolute;
  left:56px;
  top:81px;
  width:140px;
  height:72px;
}
#u7891 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u7892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7892 {
  position:absolute;
  left:56px;
  top:192px;
  width:140px;
  height:72px;
}
#u7893 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u7894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u7894 {
  position:absolute;
  left:56px;
  top:310px;
  width:140px;
  height:72px;
}
#u7895 {
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u7896 {
  position:absolute;
  left:126px;
  top:264px;
  width:0px;
  height:0px;
}
#u7896_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u7896_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u7897 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7898 {
  position:absolute;
  left:126px;
  top:153px;
  width:0px;
  height:0px;
}
#u7898_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u7898_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u7899 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7900 {
  position:absolute;
  left:12px;
  top:19px;
  width:239px;
  height:16px;
  color:#FF0000;
}
#u7901 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u7902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u7902 {
  position:absolute;
  left:433px;
  top:219px;
  width:200px;
  height:1px;
  color:#FF0000;
}
#u7903 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7904 {
  position:absolute;
  left:643px;
  top:212px;
  width:235px;
  height:48px;
  color:#FF0000;
}
#u7905 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u7906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:72px;
}
#u7906 {
  position:absolute;
  left:261px;
  top:310px;
  width:140px;
  height:72px;
}
#u7907 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7908 {
  position:absolute;
  left:196px;
  top:346px;
  width:0px;
  height:0px;
  color:#000000;
}
#u7908_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u7908_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7909 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u7910 {
  position:absolute;
  left:126px;
  top:382px;
  width:0px;
  height:0px;
  color:#000000;
}
#u7910_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u7910_seg1 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:78px;
  height:8px;
}
#u7910_seg2 {
  position:absolute;
  left:-74px;
  top:-36px;
  width:8px;
  height:40px;
}
#u7910_seg3 {
  position:absolute;
  left:-80px;
  top:-43px;
  width:20px;
  height:20px;
}
#u7911 {
  position:absolute;
  left:-103px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
